@media only screen and (min-width: 1025px) {

    .frame {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 64px;
        padding: 90px 90px;
        position: relative;
        background-color: #ffffff;
        width: 100%;
    }

    .frame .texte {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        position: relative;
        width: 100%;
        flex: 0 0 auto;
    }

    .frame .titre-page {
        position: relative;
        align-self: stretch;
        margin-top: -1px;
        font-family: "Roboto Regular", Helvetica;
        font-weight: 400;
        color: #312e76;
        font-size: 24px;
        letter-spacing: 2.4px;
        line-height: normal;
    }

    .frame .terms {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        gap: 16px 16px;
        position: relative;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;
    }

    .frame .sous-titre {
        position: relative;
        flex: 1;
        margin-top: -1px;
        font-family: "Roboto Medium", Helvetica;
        font-weight: 500;
        color: #303030;
        font-size: 48px;
        letter-spacing: 0;
        line-height: normal;
    }

    .frame .div {
        position: relative;
        align-self: stretch;
        font-family: "Roboto Medium", Helvetica;
        font-weight: 500;
        color: #303030;
        font-size: 24px;
        letter-spacing: 0;
        line-height: normal;
    }

    .frame .span {
        font-family: "Roboto Medium", Helvetica;
        font-weight: 500;
        color: #303030;
        font-size: 24px;
        letter-spacing: 0;
    }

    .frame .text-wrapper-2 {
        text-decoration: underline;
    }

    .frame .div-2 {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        width: 100%;
        position: relative;
        flex: 0 0 auto;
    }

    .frame .div-3 {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        position: relative;
        flex: 0 0 auto;
    }

    .frame .text-wrapper-3 {
        position: relative;
        width: 100%;
        margin-top: -1px;
        font-family: "Roboto Medium", Helvetica;
        font-weight: 500;
        color: #312e76;
        font-size: 24px;
        letter-spacing: 2.4px;
        line-height: normal;
    }

    .frame .p-texte {
        position: relative;
        width: 100%;
        font-family: "Roboto Medium", Helvetica;
        font-weight: 500;
        color: #303030;
        font-size: 24px;
        letter-spacing: 0;
        line-height: normal;
    }
}




/* Format tablette */

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  
  .frame {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 54px;
    padding: 72px 72px;
    position: relative;
    background-color: #ffffff;
    width: 100%;
    }

    .frame .texte {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        position: relative;
        width: 100%;
        flex: 0 0 auto;
    }

    .frame .titre-page {
        position: relative;
        align-self: stretch;
        margin-top: -1px;
        font-family: "Roboto Regular", Helvetica;
        font-weight: 400;
        color: #312e76;
        font-size: 20px;
        letter-spacing: 2.4px;
        line-height: normal;
    }

    .frame .terms {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        gap: 16px 16px;
        position: relative;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;
    }

    .frame .sous-titre {
        position: relative;
        flex: 1;
        margin-top: -1px;
        font-family: "Roboto Medium", Helvetica;
        font-weight: 500;
        color: #303030;
        font-size: 40px;
        letter-spacing: 0;
        line-height: normal;
    }

    .frame .div {
        position: relative;
        align-self: stretch;
        font-family: "Roboto Medium", Helvetica;
        font-weight: 500;
        color: #303030;
        font-size: 20px;
        letter-spacing: 0;
        line-height: normal;
    }

    .frame .span {
        font-family: "Roboto Medium", Helvetica;
        font-weight: 500;
        color: #303030;
        font-size: 20px;
        letter-spacing: 0;
    }

    .frame .text-wrapper-2 {
        text-decoration: underline;
    }

    .frame .div-2 {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        width: 100%;
        position: relative;
        flex: 0 0 auto;
    }

    .frame .div-3 {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        position: relative;
        flex: 0 0 auto;
    }

    .frame .text-wrapper-3 {
        position: relative;
        width: 100%;
        margin-top: -1px;
        font-family: "Roboto Medium", Helvetica;
        font-weight: 500;
        color: #312e76;
        font-size: 20px;
        letter-spacing: 2.4px;
        line-height: normal;
    }

    .frame .p-texte {
        position: relative;
        width: 100%;
        font-family: "Roboto Medium", Helvetica;
        font-weight: 500;
        color: #303030;
        font-size: 20px;
        letter-spacing: 0;
        line-height: normal;
    }
}


/* Format mobile */

@media only screen and (max-width: 600px) {

  .frame {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 32px;
    padding: 40px 40px;
    position: relative;
    background-color: #ffffff;
    width: 100%;
    }

    .frame .texte {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        position: relative;
        width: 100%;
        flex: 0 0 auto;
    }

    .frame .titre-page {
        position: relative;
        align-self: stretch;
        margin-top: -1px;
        font-family: "Roboto Regular", Helvetica;
        font-weight: 400;
        color: #312e76;
        font-size: 16px;
        letter-spacing: 2.4px;
        line-height: normal;
    }

    .frame .terms {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        gap: 16px 16px;
        position: relative;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;
    }

    .frame .sous-titre {
        position: relative;
        flex: 1;
        margin-top: -1px;
        font-family: "Roboto Medium", Helvetica;
        font-weight: 500;
        color: #303030;
        font-size: 32px;
        letter-spacing: 0;
        line-height: normal;
    }

    .frame .div {
        position: relative;
        align-self: stretch;
        font-family: "Roboto Medium", Helvetica;
        font-weight: 500;
        color: #303030;
        font-size: 16px;
        letter-spacing: 0;
        line-height: normal;
    }

    .frame .span {
        font-family: "Roboto Medium", Helvetica;
        font-weight: 500;
        color: #303030;
        font-size: 16px;
        letter-spacing: 0;
    }

    .frame .text-wrapper-2 {
        text-decoration: underline;
    }

    .frame .div-2 {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        width: 100%;
        position: relative;
        flex: 0 0 auto;
    }

    .frame .div-3 {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        position: relative;
        flex: 0 0 auto;
        width: 100%;
    }

    .frame .text-wrapper-3 {
        position: relative;
        width: 100%;
        margin-top: -1px;
        font-family: "Roboto Medium", Helvetica;
        font-weight: 500;
        color: #312e76;
        font-size: px;
        letter-spacing: 2.4px;
        line-height: normal;

    }

    .frame .p-texte {
        position: relative;
        width: 100%;
        font-family: "Roboto Medium", Helvetica;
        font-weight: 500;
        color: #303030;
        font-size: px;
        letter-spacing: 0;
        line-height: normal;
    }
}

.white{
    text-decoration: none;
    color:white;
}

