/* @media (min-width: 992) {  */
.desktop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-color: #ffffff;
}

.desktop .accueil {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 90px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: transparent;
}

.desktop .left-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 90px 20px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.desktop .burger-logo {
  position: relative;
  flex: 0 0 auto;
  height: 35px;
  margin-top: -5px;
  margin-bottom: -5px;
}

.desktop .menu-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  margin-left: -3.05e-5px;
}

.desktop .div-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #303030;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: normal;
  white-space: nowrap;
}

.desktop .right-part {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.desktop .nous-contacter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  position: relative;
  flex: 0 0 auto;
  background-color: #5271ff;
  border-radius: 16px;
  overflow: hidden;
}

.desktop .div {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.6px;
  line-height: normal;
  white-space: nowrap;
}

.desktop .en-tete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 90px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .bloc-en-tete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 52px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .titre {
  display: flex;
  flex-direction: column;
  height: 137px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.desktop .rendre-l-impossible {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 400;
  color: transparent;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .span {
  font-size: 48px; 
  color: #303030;
}

.desktop .text-wrapper-2 {
  font-weight: 500;
  color: #303030;
  font-size: 64px;
}

.desktop .text-wrapper-3 {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 500;
  font-size: 48px; 
  color: #5271ff;
}

.desktop .p {
  position: relative;
  align-self: stretch;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #303030;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .illustration {
  position: relative;
  width: 700px;
  height: 520px;
  background-image: url(./img/illu-principale.png);
  background-size: 100% 100%;
}

.desktop .a-propos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 90px 90px;
  padding: 90px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .bloc-a-propos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 90px 90px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.desktop .frame {
  position: relative;
  width: 600px;
  height: 410px;
}

.desktop .overlap-group {
  position: relative;
  height: 410px;
}

.desktop .rectangle {
  position: absolute;
  width: 570px;
  height: 380px;
  top: 30px;
  left: 0;
  background-color: var(--cyan);
  border-radius: 32px;
}

.desktop .gens-affaires-se-wrapper {
  position: absolute;
  width: 570px;
  height: 380px;
  top: 0;
  left: 30px;
  background-color: #ffffff;
  border-radius: 32px;
  overflow: hidden;
}

.desktop .gens-affaires-se {
  position: absolute;
  width: 570px;
  height: 380px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.desktop .texte-a-propos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.desktop .a-propos-de-nous {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #3c378d;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: normal;
}

.desktop .texte-nos-clients {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .nos-clients-sont {
  position: relative;
  width: 471px;
  margin-top: -1px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: transparent;
  font-size: 48px;
  letter-spacing: 4.8px;
  line-height: normal;
}

.desktop .text-wrapper-4 {
  color: #303030;
  letter-spacing: 2.3px;
}

.desktop .text-wrapper-5 {
  color: #3355ff;
  letter-spacing: 2.3px;
}

.desktop .type {
  position: relative;
  width: 50px;
  height: 69px;
}

.desktop .overlap-group-2 {
  position: relative;
  width: 444px;
  height: 70px;
  top: -1px;
}

.desktop .text-wrapper-6 {
  position: absolute;
  height: 69px;
  top: 0;
  left: 0;
  font-family: "Playfair Display Bold", serif;
  font-style: italic;
  font-weight: 700;
  font-style: italic;
  color: #3355ff;
  font-size: 52px;
  letter-spacing: 5.2px;
  line-height: normal;
}

.desktop .caret {
  position: absolute;
  width: 8px;
  height: 68px;
  top: 2px;
  left: 42px;
  background-color: #5271ff;
  border-radius: 2px;
}

.desktop .fun-facts {
  flex-wrap: wrap;
  gap: 24px 24px;
  padding: 72px 90px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #f1f3f9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.desktop .fun-fact {
  flex-direction: column;
  width: 270px;
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.desktop .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Playfair Display Bold", serif;
  font-style: italic;
  font-weight: 400;
  color: #5271ff;
  font-size: 48px;
  text-align: center;
  letter-spacing: -0.72px;
  line-height: normal;
}

.desktop .text-wrapper-8 {
  position: relative;
  align-self: stretch;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #303030;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  line-height: 20px;
}

.desktop .completed-project {
  font-family: "Roboto Condensed-Medium", Helvetica;
  position: relative;
  align-self: stretch;
  font-weight: 500;
  color: #303030;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  line-height: 20px;
}

.desktop .nos-services {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 96px 90px;
  padding: 90px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .bloc-nos-services {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 90px 90px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.desktop .texte {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.desktop .nos-services-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #312e76;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: normal;
}

.desktop .nouveau-produit {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 16px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .text-wrapper-9 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #303030;
  font-size: 48px;
  letter-spacing: 4.8px;
  line-height: normal;
}

.desktop .text-wrapper-10 {
  position: relative;
  align-self: stretch;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #303030;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .illu {
  position: relative;
  width: 350px;
  height: 350px;
}

.desktop .nos-services-3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 96px 96px;
  padding: 90px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.desktop .texte-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 96px 96px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.desktop .nos-services-4 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #312e76;
  font-size: 24px;
  letter-spacing: 2.4px;
  line-height: normal;
}

.desktop .text-wrapper-11 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #303030;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .bloc-nos-services-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 96px 96px;
  padding: 90px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.desktop .bloc-nos-services-2 {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 96px 96px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.desktop .contacter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 72px 90px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #3c378d;
}

.desktop .texte-2 {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .text-wrapper-12 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #f1f3f9;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .nous-contacter-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  position: relative;
  flex: 0 0 auto;
  background-color: #f1f3f9;
  border-radius: 16px;
  overflow: hidden;
}

.desktop .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #3c378d;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.6px;
  line-height: normal;
  white-space: nowrap;
}

.desktop .nos-realisations {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  padding: 90px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .texte-3 {
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .nos-r-alisations {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #3c378d;
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
  line-height: normal;
}

.desktop .descriptif {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  gap: 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .text-wrapper-14 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #303030;
  font-size: 48px;
  text-align: center;
  letter-spacing: 4.8px;
  line-height: normal;
}

.desktop .bloc-realisations {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 90px 64px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .realisation {
  height: 612px;
  align-items: flex-end;
  gap: 12px;
  display: flex;
  width: 450px;
  position: relative;
}

.desktop .realisation-bouge {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 600px;
  align-items: flex-start;
  position: relative;
  background-color: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid;
  border-color: #b7c1e1;
}

.desktop .image {
  position: relative;
  width: 450px;
  height: 245px;
  background-image: url(./img/diagnostic-missiles.png);
  background-size: cover;
  background-position: 50% 50%;
}

.desktop .description {
  display: flex;
  gap: 12px;
  align-self: stretch;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .text-wrapper-15 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #303030;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-16 {
  position: relative;
  width: fit-content;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #5271ff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .line {
  position: relative;
  width: 386px;
  height: 1px;
  object-fit: cover;
}

.desktop .equipement {
  position: relative;
  width: 390px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #303030;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .realisation-bouge-wrapper {
  display: flex;
  width: 450px;
  height: 612px;
  align-items: flex-end;
  gap: 10px;
  position: relative;
}

.desktop .realisation-bouge-2 {
  flex-direction: column;
  height: 600px;
  align-items: flex-start;
  padding: 0px 0px 24px;
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid;
  border-color: #b7c1e1;
  display: flex;
  width: 450px;
  position: relative;
}

.desktop .image-2 {
  background-image: url(./img/hub.png);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  width: 450px;
  height: 245px;
}

.desktop .description-2 {
  display: inline-flex;
  gap: 13px;
  margin-bottom: -1px;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .text-wrapper-17 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--h4-bold-font-family);
  font-weight: var(--h4-bold-font-weight);
  color: #303030;
  font-size: var(--h4-bold-font-size);
  letter-spacing: var(--h4-bold-letter-spacing);
  line-height: var(--h4-bold-line-height);
  font-style: var(--h4-bold-font-style);
}

.desktop .text-wrapper-18 {
  position: relative;
  width: fit-content;
  font-family: var(--pp-font-family);
  font-weight: var(--pp-font-weight);
  color: #5271ff;
  font-size: var(--pp-font-size);
  letter-spacing: var(--pp-letter-spacing);
  line-height: var(--pp-line-height);
  white-space: nowrap;
  font-style: var(--pp-font-style);
}

.desktop .text-wrapper-19 {
  width: 390px;
  font-family: var(--pp-font-family);
  font-weight: var(--pp-font-weight);
  font-size: var(--pp-font-size);
  position: relative;
  color: #303030;
  letter-spacing: var(--pp-letter-spacing);
  line-height: var(--pp-line-height);
  font-style: var(--pp-font-style);
}

.desktop .image-3 {
  background-image: url(./img/pairage-clef.png);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  width: 450px;
  height: 245px;
}

.desktop .description-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  padding: 24px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .image-4 {
  background-image: url(./img/metro.png);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  width: 450px;
  height: 245px;
}

.desktop .image-5 {
  background-image: url(./img/controle-electrique.png);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  width: 450px;
  height: 245px;
}

.desktop .image-6 {
  position: relative;
  width: 450px;
  height: 245px;
}

.desktop .clients-partenaires {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 90px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #f1f3f9;
}

.desktop .nos-clients-et {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #303030;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
}

.desktop .logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .company-logo {
  position: relative;
  width: 180px;
  height: 90px;
}

.desktop .img {
  position: relative;
  width: 180px;
  height: 90.08px;
}

.desktop .keolis {
  position: absolute;
  width: 180px;
  height: 27px;
  top: 31px;
  left: 0;
  object-fit: cover;
}

.desktop .footer {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 388px;
  background-color: var(--bleu-ff);
}
